@page
@model Cadastro.Pages_Produto.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
             <th>
                @Html.DisplayNameFor(model => model.Produto[0].Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto[0].Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto[0].Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto[0].Disponivel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Produto) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.Disponivel, new { @disabled = "" })

            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProdutoID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ProdutoID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProdutoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
